<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Форма регистрации</title>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        
        {% for message in info.err%}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}

        {% if info.success_message %}
            <p style="color: green;"> {{ info.success_message }}</p>
        {% endif %}

        <label for="username">Введите логин:</label>
        <input type="text" id="username" name="username" maxlength="30" required>

        <label for="password">Введите пароль:</label>
        <input type="password" id="password" name="password" minlength="8" required>

        <label for="repeat_password">Повторите пароль:</label>
        <input type="password" id="repeat_password" name="repeat_password" minlength="8">

        <label for="age">Введите свой возраст:</label>
        <input type="number" id="age" name="age" maxlength="3">
    
        <button type="submit">Отправить</button>
    </form>
</body>
</html>