<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home work</title>
</head>

<body>
    <h1>Homework</h1>
    <ul>
        <li><a href="functions">Function Template</a></li>
        <li><a href="classes">Class Template</a></li>
    </ul>
    <p>
        В качестве примера предоставлены два шаблона: <b>func_template.html</b> и <b>class_template.html</b>.
        Первый шаблон представляет собой функциональное представление, а второй - классовое.
        Вы можете изменить текст внутри шаблона или добавить свои компоненты.
        После того, как вы измените шаблон, сохраните его в той же папке
    </p>
</body>
</html>