<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Action Game</title>
</head>

<body>
    <h1>Action Game</h1>
    <ul>
        <p><img src="https://www.google.com/url?sa=i&url=http%3A%2F%2Ft3.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcTJGm-_E6Q1gD0HmglrtSEl1cWIyla1iCgHeRq9UPSwFnuvR_T3&psig=AOvVaw0eO-g3xTOf9Ds15DmcRhIz&ust=1729101702735000&source=images&cd=vfe&opi=89978449&ved=0CBMQjhxqFwoTCKD_8vf7kIkDFQAAAAAdAAAAABAE"></p>
        <li>Red Dead Redemption II
            <button>
                <a href="https://www.rockstargames.com/ru/reddeadredemption2">Купить</a>
            </button>
        </li>
        <p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL9x_j3hcvdngtuJ2PGuRdT9zp7m7RH3iQgw&shttps://store.steampowered.com/app/1245620/ELDEN_RING/https://www.google.com/url?sa=i&url=https%3A%2F%2Fru.wikipedia.org%2Fwiki%2FElden_Ring&psig=AOvVaw3sXAiDYwW8Wys_CHRoDXMm&ust=1729101828389000&source=images&cd=vfe&opi=89978449&ved=0CBMQjhxqFwoTCKCkgLX8kIkDFQAAAAAdAAAAABAE"></p>
        <li>Elder Ring
            <button>
                <a href="https://en.bandainamcoent.eu/elden-ring/elden-ring">Купить</a>
            </button>
        </li>
        <p><img src="https://upload.wikimedia.org/wikipedia/ru/a/a6/Black_Myth_Wukong_cover_art.jpg"></p>
        <li>Black Myth: Wukong
            <button>
                <a href="https://www.heishenhua.com/">Купить</a>
            </button>
        </li>
    </ul>   
    <button><a href="/shop">Назад</a></button>

</body>
</html>