<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Adventure Games</title>
</head>

<body>
    <h1>Adventure Games</h1>
    <ul>
        <p><img src="https://upload.wikimedia.org/wikipedia/ru/2/2e/Star_Wars_Jedi_-_Survivor.jpeg" width="200" height="250"></p>
        <li>Star Wars Jedi: Survivor
            <button>
                <a href="https://www.ea.com/ru-ru/games/starwars/jedi/jedi-survivor" >Купить</a>
            </button>
        </li>
        <p><img src="https://upload.wikimedia.org/wikipedia/ru/d/dc/Baldur%27s_Gate_III_Logo.png" width="200" height="250"></p>
        <li>Baldur's Gate 3
            <button>
                <a href="https://baldursgate3.game/">Купить</a>
            </button>
        </li>
        <p><img src="https://upload.wikimedia.org/wikipedia/ru/a/a2/The_Witcher_3-_Wild_Hunt_Cover.jpg" width="200" height="300"></p>
        <li>Ведьмак 3: Дикая охота
            <button>
                <a href="https://www.thewitcher.com/us/ru/witcher3">Купить</a>
            </button>
        </li>
    </ul>
    <button><a href="/shop">Назад</a></button>
</body>
</html>